

form{
    text-align: center;
    padding-top: 50px;
}
#home_form_input{
    width: 800px;
    height: 95px;
}
#home_form_button{
    width: 80px;
    height: 80px;
}

.card-post{
    max-width: 800px;
    margin: 0 auto;
}
  
.foto-perfil{
    background-color: rgb(189, 187, 187);
    background-size: cover;
    text-align: center;
}

.foto-perfil2 {
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.JdAF9MkfYA92m1ocasMFJQHaHl&pid=Api');
    background-size: cover;
}

#addComment{
    max-width: 30px;
    max-height: 30px;
}

p{
    font-size: large;
}