<div class="ResponseBackground">
    <div class="formContainer">
        <form class="BusinesForm" [formGroup]="responseForm" (submit)="putNewResponseInComment()">
            <h1></h1>
            <mat-form-field class="Full-width-field">
                <mat-label>Contenido</mat-label>
                <textarea matInput formControlName="response" [(ngModel)]="putDescription"></textarea>
            </mat-form-field>
            <br>
            <button mat-fab extended color="primary" type="submit" [disabled]="responseForm.invalid"> 
            <mat-icon>check</mat-icon>
            Cambiar respuesta al comentario
            </button>
        </form>
    </div>
</div>
